@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do&display=swap');
.login {
  width: 100vw;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2015/04/28/20/24/wood-744306_1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(1px);
  overflow: hidden;
  text-align: center;
}

.login h1 {
  color: blanchedalmond;
  font-family: 'Nothing You Could Do', cursive;
  margin: 4rem;
}

.login-form {
  display: inline-block;
  filter: blur(0.5px);
  border-radius: 0.5rem;
  border-style: none;
  color: blanchedalmond;
}

.login-input, .password-input {
  width: 20vw;
  height: 100%;
  background-color: #946955;
  box-shadow: 0 0 10px 15px #946955;
  font-size: 2rem;
  font-family: "Homemade Apple", cursive;
  font-weight: bold;
  color: blanchedalmond;
  border-style: none;
  text-indent: 1.5rem;
  outline: none;
  border-style: none;
}

.login-button {
  background-color: #946955;
  box-shadow: 0 4px 11px 14px #946955;
  padding: 0.5rem 1rem;
  font-size: 3rem;
  font-family: "Reenie Beanie", cursive;
  font-weight: bold;
  color: blanchedalmond;
  outline: none;
  border-style: none;
}